body{
  background-color: #fff;
}
strong {
  font-weight: bold;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    color: #2E4A62;
}
li a {
    display: block;
    width: 100px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #555;
    color: white;
}
li {
  float: left;
  border-right: 2px solid #e7e7e7;

}
a {
  display: block;
   padding: 8px;
   background-color: #dddddd;
}
.jumbotron {
  background-color: #e3e3e3;
  text-align: center;
  border-radius: 20px;
}
#title {
  color: #312c32;
}
