body{
  background-color: #fff;
}
img {
  background-image: url(https://i.pinimg.com/originals/68/5e/18/685e18ff8147427079a14ce27d984688.jpg);
  opacity: .5;
}
strong {
  font-weight: bold;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    overflow: hidden;
}
li a {
    display: block;
    width: 100px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}
li a:hover {
    background-color: #555;
    color: white;
}
li {
  float: left;
  border-right: 2px solid #e7e7e7;

}
a {
  display: block;
   padding: 8px;
   background-color: #3b3a36;
   color: white;
   border-bottom: white;
}
.jumbotron {
  background-color: #e3e3e3;
  text-align: center;
  border-radius: 20px;
  background-image: url(https://i.pinimg.com/originals/68/5e/18/685e18ff8147427079a14ce27d984688.jpg);
}
