body{
  background: #fff url(https://i.pinimg.com/originals/68/5e/18/685e18ff8147427079a14ce27d984688.jpg) no-repeat fixed;
}
h1 {
font-weight: 200;
font-size: 70pt;
text-align: center;
font-weight: bold;
}
h2 {
  font-weight: 200;
  font-size: 50pt;
  text-align: center;
}
h3 {
  font-weight: 200;
  font-size: 25pt;
  text-align: center;
  background-color: none;

}
h3 a {
  font-weight: 200;
  font-size: 25pt;
  text-align: center;
  background-color: none;;
}
h3 a:hover {color: white;
  text-decoration: underline;
  background-color: #555;
}
h5 {
  font-size: 12pt;
  font-weight: 200;
  text-align: center;
}
p{
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  font-size: 16pt;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    overflow: hidden;
}
li a {
    display: block;
    width: 100px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-weight: 100;
}
li a:hover {
    background-color: #555;
    color: white;
}
a {
  display: block;
   padding: 8px;
   background-color: #3b3a36;
   color: white;
   border-bottom: white;
}
.col-md-12 {
  text-align: center;
}
/*.footer {
  { position: fixed; left: 0;
  bottom: 0; width: 100%; color: inherit; text-align: left;
}*/
